<div>
    <h2 class="text-center">Add New Product</h2>
    <form #f="ngForm" (ngSubmit)="addNewProduct(f)">
        <input type="text" class="form-control" name="name" ngModel placeholder="Product Name" required><br>
        <input type="number" class="form-control" name="price" ngModel placeholder="Price" required><br>
        <input type="file" ngModel name="image" required #image><br>
        <br>
        <input type="submit" value="add" class="btn btn-primary" [disabled]="f.invalid">
    </form>
</div>

<h2 class="text-center"> Products DashBoard</h2>
<table class="table table-striped table-dark">
    <thead>
        <tr>
        <th>Product Name</th>
        <th>Product Price</th>
        <th>Option</th>
    </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of ProductsArr; index as i">
            <td>{{ product.Name}}</td>
            <td> <input type="number" placeholder="Prices ($$)" [(ngModel)]="product.Price" min="1">$</td>
            <td>
            <button class="btn btn-primary" (click)="updateProductPrice(i)"> Update</button>
            <button class="btn btn-danger" (click)="deleteProduct(i)">Delete</button>
        </td>
        </tr>
    </tbody>
</table>